/* Light theme by default, dark theme if system dark mode active */

@import 'base.css';

.cookie-notice {
  --modal-bg: var(--color-tan);
  --main-text: black;
  --link-text: var(--color-blue);
  --button-success-bg: var(--color-blue);
  --button-success-text: white;
}

@media (prefers-color-scheme: dark) {
  .cookie-notice {
    --modal-bg: var(--color-black-blue);
    --main-text: white;
    --link-text: var(--color-light-blue);
    --button-success-bg: var(--color-gold);
    --button-success-text: black;
  }
}
