/* Light theme by default, dark theme if system dark mode active */

@import 'base.css';

@media (prefers-color-scheme: dark) {
  .cookie-notice {
    --klaro-ui-modal-bg: var(--klaro-ui-color-black-blue);
    --klaro-ui-main-text: white;
    --klaro-ui-link-text: var(--klaro-ui-color-light-blue);
    --klaro-ui-button-success-bg: var(--klaro-ui-color-gold);
    --klaro-ui-button-success-text: black;
  }
}
